h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  color: purple;
  text-transform: uppercase;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: armenian;
}
